<launch>

<rosparam file="$(find mecanum3_description)/launch/controller.yaml" command="load"/>
<node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" ns="mecanum3" args="front_left_joint_position_controller front_right_joint_position_controller back_right_joint_position_controller back_left_joint_position_controller joint_state_controller "/>
<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen">
  <remap from="/joint_states" to="/mecanum3/joint_states"/>
</node>

</launch>